:root {
  --font: font-family: 'Open Sans', sans-serif;
  --primary-color: #fe724c;
  --primary-hover-color: #df6442;
  --text-color: #000;
  --text-secondary-color: #5b5b5b;
  --white-color: #fff;
  --separator-color: #d4d6e0;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
