.head {
  position: relative;
  min-height: 165px;
  border-radius: 19px;
}

.link {
  text-decoration: none;
}

.card {
  background: var(--white-color);
  border-radius: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 320px;
  box-shadow: 18px 18px 36px 0 rgba(211, 209, 216, 0.25);
}

.footer {
  padding: 19px 12px;
}

.title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
}

.description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-secondary-color);
  text-decoration: none;
}

.price {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: var(--white-color);
  padding: 3px 10px;
  border-radius: 121px;
  font-weight: 400;
  font-size: 20px;
  color: #111719;
}

.currency {
  color: var(--primary-color);
}

.rating {
  position: absolute;
  bottom: -12px;
  left: 15px;
  background-color: var(--white-color);
  padding: 3px 8px;
  border-radius: 121px;
  font-weight: 400;
  font-size: 12px;
  color: #111719;

  box-shadow: 0 6px 24px 0 rgba(254, 114, 76, 0.2);
}

.add-to-card {
  position: absolute;
  right: 15px;
  top: 15px;
  background: var(--primary-color);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  border: none;
}

.add-to-card:hover {
  background: var(--primary-hover-color);
}
